.name {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  font-size: 100px;
  color: white;
}

img {
  height: 50px;
}

.links-container {
  display: flex;
  justify-content: center;
}
.links-container span {
  font-size: 8vmin;
  font-weight: bold;
  color: rgb(15,59,120);
  display: inline-flex;
  animation: rotate 16s infinite;
}
@keyframes rotate {
  0%,
  65% {
      transform: rotateX(360deg);
  }
}
.nine span:nth-of-type(1) {
  animation-delay: 0.10s;
}
.nine span:nth-of-type(2) {
  animation-delay: 0.50s;
}

.github {
  padding: 10px;
}

.linked-in {
  padding: 10px;
}

.about-header {
  display: flex;
  justify-content: center;
  padding-top: 30px;  
  font-size: 60px;
  color: white;
}

.about-container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.carousel {
  overflow:hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  margin:0%;
  background-color: #7c7cb1;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #7c7cb1;
  color: black;
}

.tech-stack-header {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-size: 60px;
  color: white;
}

.projects-header {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-size: 60px;
  color: white;
}

.projects-container {
  display: flex;
  justify-content: center;
}

.project-link-container {
  padding-top: 30px;
  padding-right: 30px;
}

.tech-stack-container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.form-header {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-size: 60px;
  color: white;
  cursor: pointer;
}

.form-container {
  padding-block:40px;
}

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}

ul {
  position: relative;
  display: flex;
}
ul li {
  position: relative;
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
}
ul li a {
  text-decoration: none;
}
ul li a .fa-brands {
  font-size: 6em;
  color: #222;
}
ul li a::before {
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 6em;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

ul li:nth-child(1) a::before {
  content: "\f16d";
  background-image: linear-gradient(45deg, 
    #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,
    #bc1888 100%);
  -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  border-bottom: 4px solid #dc2743;
}
ul li:nth-child(2) a::before {
  content: "\f232";
  color: #25D366;
  border-bottom: 4px solid #25D366;
}
ul li:nth-child(3) a::before {
  content: "\f099";
  color: #1DA1F2;
  border-bottom: 4px solid #1DA1F2;
}
ul li:hover a::before {
  height: 100%;
} */