.name {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  font-size: 100px;
}

.links-container {
  display: flex;
  justify-content: center;
}

img {
  height: 30px;
  width: 30px;
}

.github {
  padding: 10px;
}

.linked-in {
  padding: 10px;
}