.name {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  font-size: 100px;
  color: white;
}

img {
  height: 50px;
  width: 50px;
}

.links-container {
  display: flex;
  justify-content: center;
}


.github {
  padding: 10px;
}

.linked-in {
  padding: 10px;
}

.about-header {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-size: 60px;
  color: white;
}

.about-container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.tech-stack-header {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-size: 60px;
  color: white;
}

.projects-header {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-size: 60px;
  color: white;
}

.projects-container {
  display: flex;
  justify-content: center;
}

.project-link-container {
  padding-top: 30px;
  padding-right: 30px;
}

.tech-stack-container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.form-header {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-size: 60px;
  color: white;
}

.form-container {
  padding-block:40px;
}

#contact input, #contact textarea, #contact select {
    padding: 18px 20px;
    color: #000000;
    background: #cdcaca;
    margin-bottom: 27px;
    border: 0;
    outline: none;
    font-size: 15px;
    line-height: 24px;
    width: 45vw;
    margin-left: 27.5vw;
    margin-right: 27.5vw;
}